*{
	box-sizing: border-box;

	}

	body {
		background: url("./images/pageBG.jpg") center center fixed;
		background-repeat: no-repeat;
		background-size: cover;


	}

.jukebox {
	position: relative;
	display: block;
	height: 600px;
	width: 400px;

}
