*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Fjalla One', sans-serif;

}

	html {
		height: 100%;
	}



	body {
		min-height: 100%;
		margin: 0;
		padding: 0;
		background: url("./images/musicplayer3.jpg") center center fixed;
		background-repeat: no-repeat;
		background-size: cover;
		}

	.jukebox-header {
		background-color: rgba(255, 255, 255, .5);
		position: relative;
		top: 0;
		left:0;
		width: 100%;
		height: 55px;
		margin-bottom: 25px;
	}

	.soundcloud-submit-field {
		background-color: rgba(255, 255, 255, .15);
		position: relative;
		float: left;
		height: 55px;
		width: 400px;
		font-size: 15px;

	}

	.soundcloud-submit-button {
		position: relative;
		float: left;
		height: 55px;
		width: 100px;
		background-image:url("./images/buttonIcons/soundcloudupload.svg");
		background-size: auto 75%;
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		text-indent: -999px;
		cursor: pointer;

	}

	.jukebox-header-import {
		float: right;
		height: 55px;
		width: 100px;
		background-image:url("./images/buttonIcons/upload.svg");
		background-size: auto 75%;
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		text-indent: -999px;
		cursor: pointer;
	}

	.jukebox {
		background-color: rgba(0, 0, 0, 0.5);
		border: solid 3px #FFF;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		width: 60%;
		height: 90%;
		margin-bottom: auto;



	}

	.jukebox-image {
		background: url("./images/musicplayer-2.jpg");
		width: 100%;
		height: 25%;
		background-repeat: no-repeat;
		background-size: cover;

	}

	.jukebox-songs {
		display: inline-block;
		background-color: rgba(255, 255, 255, .5);
		color: #FFF;
		font-size: 15px;
		width: 100%;
		height: 65%;
		padding: 10px;
		overflow: hidden;
	}



.jukebox-songs-song {
	position: relative;
	height: 70px;
	width: 80%;
	line-height: 15px;
	margin-bottom: 4px;
}


.jukebox-songs-song-pic,
.jukebox-songs-song-title,
.jukebox-songs-song-artist,
.jukebox-songs-song-genre,
.jukebox-songs-song-song-link,
.jukebox-songs-song-artist-link {
		display: inline-block;
		vertical-align: top;
	}

.jukebox-songs-song-artist {
	font-size: 20px;
	color: #FFF;
	margin-right: 10px;
}

.jukebox-songs-song-title {
	font-size: 20px;
	color: #FFF;
	margin-right: 10px;
}

.jukebox-songs-song-pic {
	float: right;
	width: 65px;
	height: 65px;
}
.jukebox-songs-song-genre {

}
.jukebox-controls {
	background-color: rgba(114, 144, 144, .85);
	position: relative;
	width: 100%;
	height: 10%;
	}

	.jukebox-controls-prev {
		display: inline-block;
		border-radius: 100%;
		background-color: rgb(36, 88, 96);
		margin: 10px 5px 5px 5px;
		width:40px;
		height:40px;
		background: url("./images/buttonIcons/prev.svg");
		background-size: cover;
		background-repeat: no-repeat;
		margin-left: 37%;

	}

	.jukebox-controls-play {
		display: inline-block;
		border-radius: 100%;
		margin: 10px 5px 5px 5px;
		width:40px;
		height:40px;
		background: url("./images/buttonIcons/play.svg");
		background-size: cover;
		background-repeat: no-repeat;

	}

	.jukebox-controls-pause {
	display: inline-block;
	border-radius: 100%;
	margin: 10px 5px 5px 5px;
	width:40px;
	height:40px;
	background: url("./images/buttonIcons/pause.svg");
	background-size: cover;
	background-repeat: no-repeat;
	}

	.jukebox-controls-stop {
	display: inline-block;
	border-radius: 100%;
	margin: 10px 5px 5px 5px;
	width:40px;
	height:40px;
	background: url("./images/buttonIcons/stop.svg");
	background-size: cover;
	background-repeat: no-repeat;
	}

	.jukebox-controls-next {
		display: inline-block;
		border-radius: 100%;
		margin: 10px 5px 5px 5px;
		width:40px;
		height:40px;
		background: url("./images/buttonIcons/next.svg");
		background-size: cover;
		background-repeat: no-repeat;
	}
